body {
	margin:0px;
	font-family: 'Rajdhani', sans-serif;
	background-color:rgba(244,238,237,1);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
}
#github{
  color: #fff;
  height: 176px;
  background: url('https://instagram.fnat2-1.fna.fbcdn.net/vp/ed510febfb5ec8d3680044bb3d3a5b80/5E2CBDA2/t51.2885-15/e35/11349161_812252998852814_108867522_n.jpg?_nc_ht=instagram.fnat2-1.fna.fbcdn.net&_nc_cat=102') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
canvas { display:block;border-radius: 7.5px; }
#nav {
	max-height:3px;
	position:fixed;
	top:70px;
}
#head {
	max-height:50px;
	min-width:100%;
	position:fixed;
	top:0px;
	color:white;
}
#app {
	min-width:100%;
	min-height: 100vh;
}
table{
	min-width: 100%;
}
.btn{
	background-color: transparent;
	color:white;
	border:1px white;
	border-style:solid;
	border-radius: 5px;
	margin:10px;
	padding:10px;
	text-decoration: none !important; 
}
.btn:hover{
	color:black;
	background-color: white;
	border-style:solid;
	text-decoration: none !important; 
}
img {
  border-radius: 50%;
}