body {
	margin:0px;
	font-family: 'Rajdhani', sans-serif;
	background-color:rgba(255,255,255,0);
	background-attachment: fixed;
	background-image: url('https://scontent.fnat2-1.fna.fbcdn.net/v/t1.0-9/17098213_1261532160604208_1712921872740270559_n.jpg?_nc_cat=102&_nc_oc=AQnWlM1QrKrGR5Sfb-5FxZfXPpE1IkHAxQDdnhTSeFb1cb6yf8k8LHcbzLnTeJ9HEupl36wg6tHwvvN8Vfts10jO&_nc_ht=scontent.fnat2-1.fna&oh=e5551a5320bca0a6277ced90bc6fadd8&oe=5DDA1D7A');
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
}
#nav {
	max-height:3px;
	position:fixed;
	top:70px;
}
#head {
	max-height:50px;
	min-width:100%;
	position:fixed;
	top:0px;
	color:white;
}
#app {
	min-width:100%;
	min-height: 100vh;
}
table{
	min-width: 100%;
}
.btn{
	background-color: transparent;
	color:white;
	border:1px white;
	border-style:solid;
	border-radius: 5px;
	margin:10px;
	padding:10px;
	text-decoration: none !important; 
}
.btn:hover{
	color:black;
	background-color: white;
	border-style:solid;
	text-decoration: none !important; 
}
img {
  border-radius: 50%;
}